service: service-orders-en-preparacion

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::645337731455:role/LabRole
  environment:
    STATE_MACHINE_ARN: arn:aws:states:us-east-1:645337731455:stateMachine:Handler_pedidos

functions:
  enPreparacion:
    handler: handler.handler
    description: "Consume SQS (id_pedido, estado) y dispara Step Functions Handler_pedidos"
    timeout: 30
    events:
      - sqs:
          arn: arn:aws:sqs:us-east-1:645337731455:Cola_registro_pedidos
          batchSize: 10
          maximumBatchingWindow: 5

package:
  patterns:
    - '!**/*'
    - 'handler.py'
