service: service-products

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  stage: ${opt:stage, 'dev'} 
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::468251834706:role/LabRole
  environment:
    TOKENS_EMPLOYEE_TABLE: t_tokens_employee_acceso
    PRODUCTS_TABLE: t_product
    PRODUCTS_BUCKET: products-200millas
    VALIDAR_EMPLOYEE_TOKEN_ACCESS_FUNCTION: service-products-${self:provider.stage}-ValidarEmployeeTokenAcceso
  httpApi:
    cors: true

functions:
  CreateProduct:
    handler: products.product_create.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/create
    
  UpdateProduct: 
    handler: products.product_update.lambda_handler
    events:
      - httpApi:
          method: PUT
          path: /productos/update 

  DeleteProduct:
    handler: products.product_delete.lambda_handler
    events:
      - httpApi:
          method: DELETE
          path: /productos/delete

  ProductID:
    handler: products.product_id.lambda_handler
    events:
      - httpApi:
          method: POST 
          path: /productos/id

  ListProduct:
    handler: products.product_list.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/list

  ValidarEmployeeTokenAcceso:
    handler: products.validar_token_employee.lambda_handler
