service: service-products

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  stage: ${opt:stage, 'dev'} 
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
  environment:
    TOKENS_EMPLOYEE_TABLE: ${env:TABLE_TOKENS_EMPLEADOS}
    PRODUCTS_TABLE: ${env:TABLE_PRODUCTOS}
    PRODUCTS_BUCKET: ${env:S3_BUCKET_NAME}
    VALIDAR_EMPLOYEE_TOKEN_ACCESS_FUNCTION: service-products-${self:provider.stage}-ValidarEmployeeTokenAcceso
  layers:
    - ${cf:millas-dependencias-dev.PythonDependenciesLayerExport}  
  httpApi:
    cors: true

functions:
  CreateProduct:
    handler: product_create.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/create
          cors: true
          integration: lambda
    
  UpdateProduct: 
    handler: product_update.lambda_handler
    events:
      - httpApi:
          method: PUT
          path: /productos/update
          cors: true
          integration: lambda 

  DeleteProduct:
    handler: product_delete.lambda_handler
    events:
      - httpApi:
          method: DELETE
          path: /productos/delete
          cors: true
          integration: lambda         

  ProductID:
    handler: product_id.lambda_handler
    events:
      - httpApi:
          method: POST 
          path: /productos/id
          cors: true
          integration: lambda

  ListProduct:
    handler: product_list.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/list
          cors: true
          integration: lambda
          
  ValidarEmployeeTokenAcceso:
    handler: validar_token_employee.lambda_handler
